* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf6ec;
    font-family: Georgia, serif;
    color: #3b2a1a;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3b2a1a;
    padding: 15px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

}

nav ul li a {
    color: #fdf6ec;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #7a4f3a;
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 0.3s aese;
}

nav ul li a:hover{
    background-color: #f4a7b9;
    color: #3b2a1a;
    transition: scale(1.1);
}

header {
    background-color: #7a4f3a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 3rem;
    color: #fdf6ec;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

header p {
    font-size: 1.2rem;
    color: #f4a7b9;
    font-style: italic;
    letter-spacing: 1px;
}

section {
    padding: 80px 20px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    color: #7a4f3a;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tarjeta {
    width: 250px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
}
.tarjeta-interior {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
}

.tarjeta:hover .tarjeta-interior {
    transform: rotateY(180deg);
}

.frente, .reverso {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.frente {
    background-color: #fdf6ec;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.reverso {
    background-color: #7a4f3a;
    color: #fdf6ec;
    transform: rotateY(180deg);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.frente img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}




